*{
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 10px;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, #00aaff,rgb(53, 53, 248));
    background-size: cover;
}

div{
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    animation: fadeInScale 1s ease-out;
}

h1{
    font-size: 50px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

h2{
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

h4{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

ul{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    list-style-position: inside;
}


hr{
    width: 1400px;
    size: 10px;

}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}